<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:fragment="headerFragment">

<title>Price Evaluator</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{/css/style.css}" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="../webjars/jquery-ui/1.12.1/jquery-ui.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<script src="../webjars/jquery/3.3.1/jquery.js"></script>
<script src="../webjars/jquery-ui/1.12.1/jquery-ui.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<script type="text/javascript" charset="utf8"
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script defer
	src="https://use.fontawesome.com/releases/v5.4.1/js/all.js"></script>

</head>
<body>
	<div th:fragment="header" id="header">
		<ul class="nav justify-content-center">
			<li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/route}">Wyceń
					trasę</a></li>
			<li class="nav-item"><a class="nav-link"
				th:href="@{/statistics}">Statystyki modelu</a></li>
		</ul>
	</div>
	<div id="homeMainDiv">
		<h1 align="center">Evaluator MS</h1>
		<p class="description">
			Aplikacja wyceny zaplanowanej trasy wybranym autem. Przejdź do
			zakładki <a th:href="@{/route}">Wyceń trasę</a>, wybierz swoje auto,
			początek i cel podróży i sprawdź ile będzie Cie kosztować ta podróż.
		</p>
		<p class="description">
			W zakładce <a th:href="@{/statistics}">Statystyki modelu</a> możesz
			również wybrać interesujący model pojazdu i sprawdzić między innymi
			to jaką ocenę otrzymał od użytkowników lub ile ofert kupna znaleziono
			w serwisie <a target="_blank" href="https://www.otomoto.pl">Otomoto</a>
			i statystyki tych ofert.
		</p>

	</div>
	<div th:fragment="footerFragment">
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</div>
</body>
</html>